#dynamicgem=0.0.3 #install from github repo at https://github.com/palash1992/DynamicGEM => python setup.py install
Keras==2.2.4
matplotlib==3.0.1
tensorflow-gpu==1.11.0

gensim==3.8.3
networkx==2.5.1
nltk==3.6.2
numpy==1.19.5
pandas==1.1.5
scikit-learn==0.24.2
scikit-network
scipy==1.5.4
six==1.16.0
sklearn==0.0
tagme==0.1.3
igraph
#louvain
#leidenalg
